input{
	text-align:center;
  	display: block;	
  	background-color:lightgray;
  	width: 100%
}

body{
 background-color: gray;
}

h2{
	font-size: 30px;
	text-align:center;
}
h2:hover{
	color:blue;
}


a:link{
	display:inline-block;
	color:inherit;
	padding-left:15px;
	padding-right: 15px;

}
a:hover{
	color:blue;
	text-decoration: underline;}


img{
	display: inline-block;
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 30px;
	width: 100%}


img:hover {
	transform: scale(1.5, 1.5);}
